.hero__item--decaf-flat-white {
  content: "";
  background-image: url("../img/flat-white-img.png");
  background-repeat: no-repeat;
}

.hero__item--lavander-latte {
  content: "";
  background-image: url("../img/lavender-img.png");
  background-repeat: no-repeat;
}

.hero__item--espresso {
  content: "";
  background-image: url("../img/espresso-img.png");
  background-repeat: no-repeat;
}
