/* здесь используйте глобальные селекторы img, body, html и так далее*/
@use "variables";
@use "fonts";

// Уточнить в процессе стилизации
// a {
//   color: variables.$base-black;
//   text-decoration: none;

//   &:focus-visible {
//       outline: 2px solid variables.$base-primary;
//   }
// }

// Из моей Седоны:
*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  // contain — сохранить пропорции оригинальной картинки
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

